[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[51be164c-eb3b-4237-935c-1af897ee8e4a]
row=0
col=0

[E67A0D5A7A0D293F]
row=2
col=0

[1C2A57AB2A578126]
row=1
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/alex]
row=5
col=0

